{% extends '_base.html' %}

{% block page_title %}{{book.title}}   جزيات کتاب{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p>{{ book.content }}</p>
    <p>{{ book.author }}</p>
    <h4>{{ book.price }}</h4>
    <a href="{% url 'book_list' %}"><button class="btn btn-success" type="submit">لیست همه کتاب ها</button></a>
    <a href="{% url 'book_update' book.id %}"><button type="submit" class="btn btn-info">ویرایش</button></a>
    <a href="{% url 'book_delete' book.id %}"><button type="submit" class="btn btn-danger">حذف</button></a>
{% endblock %}